/* To make use of these variables you must import this file to your styles with @import "views/scss/_colors.scss"; */

//* ================= GENERAL COLORS ================= *//
$blue: #3983cb;
$black: #1C1C20;
$sideBarBackground: repeating-linear-gradient(45deg,#fff,#fff,#fff,#fff 4px,#dbdbdb 6px);
$borderColor: #d9d9d9;